/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

body{
	font-family: Futura,sans-serif;
}


h1{
	display: flex;
	justify-content: center;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: maroon;
}


header nav ul{
	display:flex;
	justify-content: center;
  }
  
  header nav li {
	flex-grow:1; 
	min-width:3em;
	display:flex;
	justify-content: center;
	
	
  }

  header nav a { 
	display:block;
	line-height:3.5em;
	text-decoration: none; 
	color:dimgray;
	font-weight: lighter;
  }

a:hover{
    text-decoration: underline;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: maroon;
}

header form {
	padding-top:10px;
    display:flex;
	flex-grow:5;
	justify-content:flex-end;
	border-color:maroon;
  }

  header form input{
	  width: 0;
	  flex-grow: 10;
	  font: inherit;
	  border-color:maroon;
  }

  button:nth-of-type(1){ 
	border:none;
	font:inherit;
	color:white;
	background-color:maroon;
  }

  img{
   padding-top: 20px;
   width: 495px;
   padding-left: 5px;
   padding-right: 10px;

  }

  section:nth-of-type(1) button:nth-of-type(1){
	border:none;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:white;
	background-color:mediumorchid;
  }